@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap');


body{
    background-image: url('owo.gif');
    background-size: cover;


    height: 100vh;
    padding:0;
    margin:0;
}

@keyframes shine {
    to {background-position: 200% center;}
}

p, a {
  color:white;
  margin: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 40px;
  text-shadow: 0.3vw 0.3vw rgba(0,0,0,0.1);
  font-family: 'Noto Sans TC', sans-serif;
  text-decoration: none;


}



.transsense {
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, #66faff, #ff66f7, #66faff);
  background-size: 150%;
  animation: shine 2s linear infinite;

}

.title {
  font-size: 60px;
  top: 40%;
  background: linear-gradient(to right, #66faff, #ff66f7, #66faff);
    -webkit-background-clip: text;
    animation: shine 2s linear infinite;
    background-size: 50% auto;
    color: transparent;
}

.minilink {
   width: 80px;
   height: 80px;
   border-radius: 50px;
   top: 55%;
   color: gray;
   border: 3px solid rgb(0, 0, 0, 0.66);
   margin-left: 0%;
   font-size: 19px;
   text-align: center;
   line-height: 70px;
   background: linear-gradient(to right, #66faff, #ff66f7, #66faff);
     -webkit-background-clip: text;
     animation: shine 2s linear infinite;
     background-size: 50% auto;
     color: transparent;


}

.minilink:hover {
   width: 80px;
   height: 80px;
   border-radius: 150px 150px 150px 150px;
   top: 55%;
   border: 3px solid rgb(0, 0, 0, 1);
   margin-left: 0%;
   font-size: 15px;

}

.minilink3 {
   width: 80px;
   height: 80px;
   border-radius: 150px 150px 150px 150px;
   top: 55%;
   color: gray;
   border: 3px solid rgb(0, 0, 0, 0.66);
   margin-left: -6%;
   font-size: 19px;
   text-align: center;
   line-height: 70px;
   background: linear-gradient(to right, #66faff, #ff66f7, #66faff);
     -webkit-background-clip: text;
     animation: shine 2s linear infinite;
     background-size: 50% auto;
     color: transparent;

}

.minilink3:hover {
   width: 80px;
   height: 80px;
   border-radius: 150px 150px 150px 150px;
   top: 55%;
   border: 3px solid rgb(0, 0, 0, 1);
   margin-left: -6%;
   font-size: 15px;
}

.minilink2 {
   width: 80px;
   height: 80px;
   border-radius: 150px 150px 150px 150px;
   top: 55%;
   color: gray;
   border: 3px solid rgb(0, 0, 0, 0.66);
   margin-left: 6%;
   font-size: 19px;
   text-align: center;
   line-height: 70px;
   background: linear-gradient(to right, #66faff, #ff66f7, #66faff);
     -webkit-background-clip: text;
     animation: shine 2s linear infinite;
     background-size: 50% auto;
     color: transparent;

}

.minilink2:hover {
   width: 80px;
   height: 80px;
   border-radius: 150px 150px 150px 150px;
   top: 55%;
   border: 3px solid rgb(0, 0, 0, 1);
   margin-left: 6%;
   font-size: 15px;
}

.minilink4 {
   width: 80px;
   height: 80px;
   border-radius: 150px 150px 150px 150px;
   top: 55%;
   color: gray;
   border: 3px solid rgb(0, 0, 0, 0.66);
   margin-left: 12%;
   font-size: 19px;
   text-align: center;
   line-height: 70px;
   background: linear-gradient(to right, #66faff, #ff66f7, #66faff);
     -webkit-background-clip: text;
     animation: shine 2s linear infinite;
     background-size: 50% auto;
     color: transparent;

}

.minilink4:hover {
   width: 80px;
   height: 80px;
   border-radius: 150px 150px 150px 150px;
   top: 55%;
   border: 3px solid rgb(0, 0, 0, 1);
   margin-left: 12%;
   font-size: 15px;
}

.minilink5 {
   width: 80px;
   height: 80px;
   border-radius: 150px 150px 150px 150px;
   top: 55%;
   color: gray;
   border: 3px solid rgb(0, 0, 0, 0.66);
   margin-left: -12%;
   font-size: 19px;
   text-align: center;
   line-height: 70px;
   background: linear-gradient(to right, #66faff, #ff66f7, #66faff);
     -webkit-background-clip: text;
     animation: shine 2s linear infinite;
     background-size: 50% auto;
     color: transparent;

}

.minilink5:hover {
   width: 80px;
   height: 80px;
   border-radius: 150px 150px 150px 150px;
   top: 55%;
   border: 3px solid rgb(0, 0, 0, 1);
   margin-left: -12%;
   font-size: 15px;
}





.own {
  font-size: 15px;
  font-family: 'Noto Sans TC', sans-serif;
  position: absolute;
  top: 97%;
  background: linear-gradient(to right, #66faff, #ff66f7, #66faff);
    -webkit-background-clip: text;
    animation: shine 2s linear infinite;
    background-size: 50% auto;
    color: transparent;
    text-shadow: 0.3vw 0.3vw rgba(0,0,0,0.1);


}
