@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap');

body {
  background-color: black;
}

@keyframes shine {
    to {background-position: 200% center;}
}

p {
  color:white;
  margin: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 40px;
  font-family: 'Noto Sans TC', sans-serif;
  background: linear-gradient(to right, #66faff, #ff66f7, #66faff);
    -webkit-background-clip: text;
    animation: shine 2s linear infinite;
    background-size: 50% auto;
    color: transparent;
    text-shadow: 0.3vw 0.3vw rgba(0,0,0,0.1);


}

img {
  width: 20%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.kiss {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.own {
  font-size: 15px;
  font-family: 'Noto Sans TC', sans-serif;
  position: absolute;
  top: 99%;
  background: linear-gradient(to right, #66faff, #ff66f7, #66faff);
    -webkit-background-clip: text;
    animation: shine 2s linear infinite;
    background-size: 50% auto;
    color: transparent;
    text-shadow: 0.3vw 0.3vw rgba(0,0,0,0.1);


}

.header {
  font-size: 50px;
  font-family: 'Noto Sans TC', sans-serif;
  position: absolute;
  top: 5%;
  font-family: monospace;
  background: linear-gradient(to right, #66faff, #ff66f7, #66faff);
    -webkit-background-clip: text;
    animation: shine 2s linear infinite;
    background-size: 50% auto;
    color: transparent;
    text-shadow: 0.3vw 0.3vw rgba(0,0,0,0.1);


}

svg {
  fill: gray;
  width: 20%;
  height:20%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: 0.3s;
}
svg:hover {
  width: 25%;
  height: 25%;
  fill: #5865F2;
}

.transsense2 {
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, #66faff, #ff66f7, #66faff);
  background-size: 200%;
  animation: shine 2s linear infinite;

}

.title {
  font-size: 60px;
  top: 10%;
  background: linear-gradient(to right, #66faff, #ff66f7, #66faff);
    -webkit-background-clip: text;
    animation: shine 2s linear infinite;
    background-size: 50% auto;
    color: transparent;
}

sex1 {
  width: 20%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: linear-gradient(to right, #66faff, #ff66f7, #66faff);
  animation: shine 2s linear infinite;
}
